Cut_Npy
Dataset
Npy
Result_csv
Fault_Visual
Data_enhance
Origin
SVM_test
原始数据汇总.xlsx
故障可视化实例.zip
故障检测论文初步.docx
数据集说明及故障实现.docx
测试结果汇总.docx
结果汇总(After).xlsx
结果汇总(Before).xlsx
迁移汇总.xlsx
Result_pict
Visual_csv_and_pict
Origin.zip
~$检测论文初步.docx
1c_svm_model_FUDS.pkl
1c_svm_model_UDDS.pkl
1c_svm_model_US06.pkl
svm_model_FUDS.pkl
svm_model_UDDS.pkl
svm_model_US06.pkl
Model/pytorch_mobilenetv2.pth
